ul.block {
  padding-left: 40px;
}

ul.block li {
  list-style-type: disc;
  font-size: 1.6em;
  line-height: 1.6em;
}

.header {
  background-attachment: fixed;
  background-position: center -200px;
}
